{% for pub in include.articles %}
   1. [**{{pub.title}}**]({% if pub.internal %}{{pub.url | prepend:
      site.baseurl}}{% else %}{{pub.url}}{% endif %})
      <br>
      {% if pub.coauthors %}with
         {% for author in pub.coauthors %} {%
         assign author_data = site.coauthors[author] %}[{{
         author_data.name}}]({{
         author_data.web}}),{% endfor %}
      {% endif %}{% if pub.journal %}*{{pub.journal}},* {% endif
%}{{pub.year}} {% if pub.repo %} [[repo]({{pub.repo}})]{% endif %}
      {: style="margin-top:0px"}
{% endfor %}
